*{
    list-style: none;
    text-decoration: none;
    margin: 0;
}

body{
    background-image: url(/ezgif.com-video-to-gif.gif);
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: top;
}

/*
body{
    background-image: url(../img/night-background-6lak31dzehvb3uz3.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn {
    height: 53px;
    width: 210px;
    justify-content: center;
    font-size: 25px;
    color: #000;
    align-items: center;
    display: flex;
    border-radius: 24px;
    background: white;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(255,255,255,0.72);
    -moz-box-shadow: 0px 0px 21px 0px rgba(255,255,255,0.72);
    box-shadow: 0px 0px 21px 0px rgba(255,255,255,0.72);
}

.title_page{
    color: #fff;
    text-align: center;
    font-size: 26px;
}

.title_select {
    color: #e12424;
}

.btn, .title_page{
    margin: 5px 0px;
}

.off{
    position: absolute;
    height: 250px;
    margin-top: 373px;
}

@media screen and (max-width: 425px){
    body{
        background-image: url(../img/IMG_20180213172938.jpeg);
    }
}
*/
